language: cpp

matrix:
  include:
    # linux release build: gcc 5.4.0 on ubuntu 16.04
    - os: linux
      dist: xenial
      compiler: gcc

before_script:
  - cd ..
  - git clone -b v2.6.0 ssh://git@gitlab.dune-project.org:22022/core/dune-common.git 
  - yes

script:
  - ./dune-common/bin/dunecontrol all
  