language: cpp

env:
  - CMAKE_CONFIGURATION=release
  
matrix:
  include:
    # linux release build: gcc 5.4.0 on ubuntu 16.04
    - os: linux
      dist: xenial
      env:
        - CMAKE_GENERATOR_OVERRIDE="Unix Makefiles"

    - os: windows
      env:
        - CMAKE_GENERATOR_OVERRIDE="Visual Studio 15 2017 Win64"
        - CMAKE_CONFIGURATION=debug

    - os: windows
      env:
        - CMAKE_GENERATOR_OVERRIDE="Visual Studio 14 2015 Win64"
        
        
addons:
  apt:
    packages:
    - gfortran

before_script:
  - cd ..
  - git clone -b v2.6.0 https://gitlab.dune-project.org/santiago.ospina/dune-common.git

script:
  - ./dune-common/bin/dunecontrol configure "${CMAKE_GENERATOR[@]}"
  - ./dune-common/bin/dunecontrol make
  