version: '{build}'
branches:
  only:
  - master
clone_folder: c:\projects\cmake-init
image:
- Visual Studio 2017
# - Visual Studio 2015
# - Visual Studio 2013
configuration:
- Release
# - Debug
platform:
- x64
environment:
  matrix:
  - arch: Win64
  # - arch: #does not work, Release|x64 not a valid target
matrix:
  fast_finish: true

# skip unsupported combinations
init:
- set arch=
- if "%arch%"=="Win64" ( set arch= Win64)
- echo %arch%
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2017" ( set generator="Visual Studio 15 2017%arch%" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2015" ( set generator="Visual Studio 14 2015%arch%" )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2013" ( set generator="Visual Studio 12 2013%arch%" )
- echo %generator%

build_script:
- cmd: |-
    cd ..
    git clone -b releases/2.6 https://gitlab.dune-project.org/core/dune-common
    git clone -b releases/2.6 https://gitlab.dune-project.org/core/dune-geometry
    git clone -b releases/2.6 https://gitlab.dune-project.org/core/dune-grid
    git clone -b releases/2.6 https://gitlab.dune-project.org/core/dune-istl
    git clone -b releases/2.6 https://gitlab.dune-project.org/core/dune-localfunctions
    git clone -b releases/2.6 https://gitlab.dune-project.org/staging/dune-functions
    git clone -b releases/2.6 https://gitlab.dune-project.org/staging/dune-typetree
    git clone -b releases/2.6 https://gitlab.dune-project.org/pdelab/dune-pdelab
    bash "./dune-common/bin/dunecontrol configure -G %generator%"
    bash "./dune-common/bin/dunecontrol make"